{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
 <div class="modal fade" id="addItemModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add an item for tracking</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">close</button>
                </div>
                <div class="modal-body">
                    <form action="" method="POST" autocomplete="off">
                        {% csrf_token %}
                        {{form|crispy}}
                        <button type="submit" class="btn btn-primary mt-2">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addItemModal">Add</button>
            <a href="{% url 'update-prices' %}">
                <button class="btn btn-info">Update</button>
            </a>
        </div>
        <div class="col" style="text-align:right">
            <div style="font-weight: bolder;">Total number of items being tracked: {{items}}</div>
            <div style="font-weight: bolder;">Discounted items: {{not_discounted}}</div>
        </div>
    </div>
    {% if qs %}
        {% for item in qs %}
            <div class="card mt-3">
                <div class="card-header">
                    <h5>{{item.productname}}</h5>
                    <a href="{% url 'delete' item.pk %}"><button class="btn btn-danger">Delete</button></a>
                </div>
                <div class="card-body">
                    <div class="blockquote">
                        <div>current price: {{item.current_price}}</div>
                        <div>old price : {{item.old_price}}</div>
                        <div>difference: {{item.price_diff}}</div>
                        <div>link: <a href="{{item.url}}">{{item.url}}</a></div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="img-emt">
            <img src="../static/noitem.jpg" alt="meow" width="400" height="400">
        <h3> Well ....it's all empty in here</h3>
        </div>
        

    {% endif %}
{% endblock content %}